<h1>Editing Section Schedule</h1>

<%= render 'index', section_schedule: @section.section_schedule %>

<%= render 'form', section_schedule: @section.section_schedule %>

<%= link_to 'Show', @section_schedule %> |
<%= link_to 'Back', section_schedules_path %>
