<div class="sub-rec-edit-container">
	<div class="sub-rec-edit-title">
		<h3>Editing Recommendation</h3>
	</div>
	<%= render 'form', recommendation: @recommendation %>
	<div class="sub-rec-edit-all">
		<p><%= link_to 'Show', @recommendation %></p>
		<p></p>
		<p><%= link_to 'Back', recommendations_path %></p>		
	</div>	
</div>






