<div class="sub-request-container">
  <div class="sub-request-title">
    <h3>Request Role</h3>
  </div>
  
  <div id="pretext">
  	Here, you may request to have your role (and associated user permissions) be changed.
  	<br> 
  	Admins will be able to review your request and change your role for you, if accepted.
  </div>
  <br>
  <div class="row">
    <ul class="sub-request-board-nav">
      <li class="sub-request-board-nav-old-usertype">
        Your Current User Role
      </li>
      <li class="sub-request-board-nav-new-usertype">
        Request a Role Here
      </li>
    </ul>
    <div class="col-9">
      <div class="sub-request-board">
        <div class="col sub-request-text-old-usertype">
          <%= current_user.roles_name[0]%>
        </div>
        <div class="col sub-request-text-new-usertype">
          <form action="request/<%=current_user.id%>/update" method="post">
            <select id="user_type" name="user_type">
              <option value="student">student</option>
              <option value="instructor">instructor</option>
              <option value="admin">admin</option>
            </select>
            <input type="submit" value="request">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
