<div class="sub-course-edit-container">
	<div class="sub-course-edit-title">
		<h3>Course Edit</h3>
	</div>

<%= render 'form', course: @course %>
<div class = "sub-course-edit-all">
<p><%= link_to 'Show', @course %></p>
<p></p>
<p><%= link_to 'Back', courses_path %></p>
</div>
</div>

