<div id="main-container">
	<h2>Container-Area</h2>
	<div id="class-list">
		<% if flash.any? %>
			<% flash.each do |key, message| %>
				<%= message %>
			<% end %>
		<% else %>
			Nothing to see here.
		<% end %>
	</div>
</div>
